@mixin custom_barre_header
{
    border-radius: 0px 4px 4px 0px;
    background:linear-gradient(180deg, #4285BE 0%, #C2F0FB 100%);
    box-shadow: 4.816944233895434e-15px 78.66666412353516px 157.3333282470703px 0px rgba(11, 23, 33, 0.34), 1.809030076549401e-15px 29.543703079223633px 29.543703079223633px 0px #458BC7 inset, -1.809030076549401e-15px -29.543703079223633px 29.543703079223633px 0px #295377 inset;
}

@mixin barre-header
{
    border-radius: 0px 4px 4px 0px;
    background: $barre-entete;
    box-shadow: 4.816944233895434e-15px 78.66666412353516px 157.3333282470703px 0px rgba(11, 23, 33, 0.34), 1.809030076549401e-15px 29.543703079223633px 29.543703079223633px 0px #458BC7 inset, -1.809030076549401e-15px -29.543703079223633px 29.543703079223633px 0px #295377 inset;

}

@mixin switch-styles {
    position: relative;
    height: 24px;
    width: 48px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: #8796A5;
    transition: all .3s ease;

    &::before {
        position: absolute;
        content: "";
        top: -5px;
        display: block;
        height: 32px;
        width: 32px;
        cursor: pointer;
        border: 1px solid rgba(100, 116, 139, 0.527);
        border-radius: 9999px;
        background-color: #003892;
        box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
        transition: all .3s ease;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
        background-repeat: no-repeat;
        background-position: center;
    }

    &:checked::before {
        transform: translateX(50%);
        border: 1px solid rgba(100, 116, 139, 0.527);
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
    }
}

@mixin custom_plus
{
    background: linear-gradient(180deg, #2F5E87 0%, #4081B8 100%);
    box-shadow: 1.7217626807437342e-16px 2.811851739883423px 2.811851739883423px 0px #4386BF inset, -1.7217626807437342e-16px -2.811851739883423px 2.811851739883423px 0px #2D5980 inset;
    filter: drop-shadow(5.306802763171265e-16px 8.666666984558105px 17.33333396911621px rgba(11, 23, 33, 0.26));
    border-radius: 50%;
}

@mixin task
{
    border-radius: 0px 4px 4px 0px;
    background: rgba(255, 252, 252, 0.70);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 24px 32px 0px rgba(0, 0, 0, 0.04);
}