$bg-light:#EAEEEF;
$color-light:#030303;
$bg-dark:#233F46;
$color-dark:#FFFCFC;
$font-lato: 'Lato', sans-serif;
$font-lemon: 'Lemon', cursive;
$barre-entete:linear-gradient(180deg, #4285BE 0%, #C2F0FB 100%);
$line:#3972A3;
$color-boxDark:#100f0fa8; //opacity 70%
$color-boxlight:#fcfbfbcc;